<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro:bit WebSerial Interface</title>
</head>
<body>
    <h1>Micro:bit WebSerial Interface</h1>
    <button id="connectBtn">Connect to Micro:bit</button>
    <p id="status">Status: Not connected</p>
    <input type="file" id="hexFile" accept=".hex">
    <button id="uploadBtn" disabled>Upload HEX File</button>

    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
